.mainServices {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.textContainer {
    width: 600px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}
.textContainer::before {
    content: '';
    width: 400px;
    height: 200px;
    position: absolute;
    z-index: 1;
    background-color: #e778786d;
    border-radius: 100px;
    filter:blur(80px);
    box-shadow: 0px 0px 2px 10px #e77878;
    top: 0;
}
.textContainer span {
    color: #E77878;
    z-index: 3;
}
.textContainer span::before {
    content: '';
    width: 35px;
    height: 2px;
    transform: translate(-50px, 6px);
    background-color: #E77878;
    position: absolute;
    display: inline-block;
    transition: 0.3s ease;
}
.textContainer span::after {
    content: '';
    width: 35px;
    height: 2px;
    transform: translate(15px, 6px);
    background-color: #E77878;
    position: absolute;
    display: inline-block;
    transition: 0.3s ease;
}
.textContainer span:hover::before {
    width: 50px;
    transform: translate(-70px, 6px);
}
.textContainer span:hover::after {
    width: 50px;
    transform: translate(25px, 6px);
}
.textContainer h1 {
    color: #fff;
    font-family: Instrument Serif, serif;
    font-weight: 100;
    font-size: 50px;
    margin: 10px 0;
    z-index: 3;
}
.textContainer h1:nth-child(3) {
    background-image: linear-gradient(90deg, #df4242, #e77878, #f06161);
    --webkit-background-clip: text;
    background-clip: text;
    --webkit-text-fill-color: transparent;
    color: transparent;
}
.textContainer p {
    color: #9e9e9e;
    z-index: 3;
}
.itemsServices {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
    z-index: 3;
}
.servItems {
    width: auto;
    color: #c4c4c4;
    padding: 5px 10px;
    background-color: #737373;
    border-radius: 20px;
}

/* People container */

.peoplePresentation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.people_presentation {
    width: 90%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;   
    align-items: center;
}
.people_presentation h1 {
    width: 500px;
    font-size: 60px;
    color: #fff;
    font-weight: 100;
}
.people_presentation_highlighted {
    background: linear-gradient(to right, #f22c2c, #e31b1b);

    -webkit-background-clip: text;
    background-clip: text;
    
    color: transparent;
}
.people_presentation p {
    width: 600px;
    font-size: 22px;
    color: #bcbcbc;
    text-align: left;
}

.people_infoContainer {
    width: 90%;
    max-width: 1600px;
    display: flex;
}
.people_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    padding: 50px 40px;
    background-color: #212121;
    color: #fff;
    font-size: 18px;
    border-right: 2px solid #696969;
    position: relative;
}
.people_container::before {
    content: '';
    width: 0%;
    height: 2px;
    background-image: linear-gradient(to right, #ffffff00, #e83939, #e34545, #ffffff00);
    position: absolute; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
}
.people_container:hover::before {
    width: 100%;
    transition: 0.3s;
}
.people_container:nth-child(1) {
    border-radius: 20px 0 0 20px;
}
.people_container:nth-child(3) {
    border: none;
    border-radius: 0px 20px 20px 0;
}
.people_container:nth-child(3) .boldRed {
    color: rgb(224, 32, 224);
}
.people_container:nth-child(2) .boldRed {
    color: rgb(93, 224, 32);
}

/* contianer before */
.people_container:nth-child(2)::before {
    background-image: linear-gradient(to right, #ffffff00, #69ff4b, #44e324, #ffffff00);
}
.people_container:nth-child(3)::before {
    background-image: linear-gradient(to right, #ffffff00, #e020e0, #c714c7, #ffffff00);
}
.boldRed {
    color: #e31b1b;
    font-size: 15px;
}
.people_container p {
    font-size: 19px;
}
.people_container_tools {
    display: flex;
    margin-top: 25px;
    width: 100%;
    gap: 30px;
}
.people_container_tools .tools {
    background-color: #696969;
    padding: 5px 20px;
    border-radius: 10px;
}

/* -------------------------------------------------------------------------- */
/*                                 Info banner                                */
/* -------------------------------------------------------------------------- */
.infBanner {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 100px;
    background-color: #212121;
    padding: 35px 0;
    overflow: hidden;
}
.inf_group {
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    animation: slide 5s linear infinite;
}

.inf_elements {
    flex: 0 0 15em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.inf_elements::before {
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    background-color: #df4242;
    border-radius: 50%;
}
@keyframes slide {
    from {
        translate: 0;
    }
    to {
        translate: -50%;
    }
}
/* -------------------------------------------------------------------------- */
/*                             What we do section                             */
/* -------------------------------------------------------------------------- */

.weDo_general_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.weDo_container {
    width: 90%;
    max-width: 1600px;
}

/* Text info */

.weDo_info_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin-top: 150px;
}
.weDo_info_pContainer {
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #9b9b9b;
}
.weDo_division {
    width: 2px;
    height: 100px;
    background-color: #737373;
    position: absolute;
    left:  -100px;

}
.weDo_info_container h1 {
    max-width: 600px;
    width: 100%;
    font-size: 50px;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}


.weDo_boxes_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.boxes_container {
    width: 100%;
    height: 300px;
    display: flex;
    background-color: #1A1A1A;
    position: relative;
}
.boxes_container:hover {
    background-color: #363636aa;
}
.boxes_container:hover::before {
    height: 100%;
    transition: 0.5s;
}
.boxes_container::before {
    content: '';
    width: 4px;
    height: 0%;
    left: 0;
    z-index: 4;
    background-color: #D73D3D;
    position: absolute;
    transition: 0.5s;
}
.boxes_container::after {
    content: '';
    width: 4px;
    height: 100%;
    left: 0px;
    z-index: 2;
    background-color: #ababab;
    position: absolute;
}

/* Boxes different colors */

/* --------------------------------- Green --------------------------------- */
.box_green .number{
    color: rgb(72, 188, 4);
}
.box_green::before {
    background-color: rgb(72, 188, 4);
}
/* ---------------------------------- Cyan ---------------------------------- */
.box_cyan .number{
    color: rgb(33, 170, 224);
}
.box_cyan::before {
    background-color: rgb(33, 170, 224);
}
/* --------------------------------- yellow --------------------------------- */
.box_yellow .number {
    color: rgb(209, 209, 4);
}
.box_yellow::before {
    background-color: rgb(209, 209, 4);
}
.number {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
    color: #D73D3D;
    position: relative;
}
.number span {
    position: absolute;
    top: 110px;
    right: 0px;
    transform: rotate(10deg);
}
.boxes_text_container {
    width: 900px;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.boxes_text_container .mini_preTitle {
    color: #D73D3D;
    margin-bottom: 20px;
}
/* Different colors pre-text edit */
/* --------------------------------- Green --------------------------------- */
.box_green .boxes_text_container .mini_preTitle {
    color: rgb(72, 188, 4);
}
/* ---------------------------------- cyan ---------------------------------- */
.box_cyan .boxes_text_container .mini_preTitle {
    color: rgb(33, 170, 224);
}
/* --------------------------------- yellow --------------------------------- */
.box_yellow .boxes_text_container .mini_preTitle {
    color: rgb(209, 209, 4);
}
.boxes_text_container h2 {
    margin: 0 0 10px 0;
    font-size: 40px;
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}   
.boxes_text_container p {
    color: #9e9e9e;
}

@media (max-width: 1350px) {
    .people_presentation {
        flex-direction: column;
        text-align: center;
    }
    .people_presentation h1 {
        font-size: 40px;
    }
    .people_presentation p {
        text-align: center;
        font-size: 20px;
    }
    .people_infoContainer {
        flex-wrap: wrap;
        gap: 20px;
        overflow: hidden;
    }
    .people_container {
        border: none;
    }
    .people_container:nth-child(1) {
    border-radius: 0;
    }
    .people_container:nth-child(3) {
        border: none;
        border-radius: 0;
    }
    
    .weDo_info_container {
        width: 90%;
        flex-direction: column;
        margin-bottom: 50px;
    }
}
@media (max-width: 650px) {
    .service_number {
        width: 40%;
    }
    .textContainer {
        width: 90%;
    }
    .textContainer::before {
        width: auto;
    }
}
@media (max-width: 600px) {
    .people_presentation h1 {
        width: 100%;
        font-size: 25px;
    }
    .people_presentation p {
        width: 100%;
        font-size: 15px;
    }
}
@media (max-width: 470px) {
    .people_container {
        padding: 40px 30px;
    }
    .boldRed {
        font-size: 10px;
    }
    .people_container h2 {
        font-size: 20px;
    }
    .people_container p {
        font-size: 15px;
    }
    .people_container_tools {
        flex-wrap: wrap;
    }

    .boxes_container {
        height: 350px;
    }
    .boxes_container .number {
        width: 50px;
    }
    .boxes_container .number span {
        display: none;
    }
}