@import url('https://fonts.googleapis.com/css2?family=Miltonian&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montaga&display=swap');

body {
  background-color: rgb(20, 20, 20);
  margin: 0;
  font-family: sans-serif;
}